
<%- include('partials/header') %>


<div class="home-block">
  <div class="btn-div">
    <button type="button" class="btn btn-outline-dark home-btn">
      Post your work
    </button>
    <button type="button" class="btn btn-outline-dark home-btn">View My Profile</button>
  </div>
  <div class="btn-div">
    <button type="button" class="btn btn-outline-dark home-btn">
      Feed
    </button>
  </div>
</div>

<%- include('partials/footer') %>